.payment-form{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.payment-form.dark{
	background: radial-gradient(circle, rgb(254, 232, 217)30%, rgb(251, 200, 216) 73%);
}

.payment-form .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.block-heading h2{
    font-weight: bold;
	color: rgb(247, 43, 77);
}

.payment-form .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.payment-form.dark .block-heading p{
	opacity:0.8;
}	

.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3 {
	margin-bottom:1.2rem;
}

.payment-form form{
	border-top: 2px solid #fe8d8d;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: #ffffff;
	padding: 0;
	max-width: 600px;
	margin: auto;
}

.payment-form .title{
	font-size: 1em;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 0.8em;
	font-weight: 600;
	padding-bottom: 8px;
}

label{
    color: rgb(244, 140, 158);
}

.payment-form .products{
	background-color: #f7fbff;
    padding: 25px;
}

.payment-form .products .item{
	margin-bottom:1em;
}

.payment-form .products .item-name{
	font-weight:600;
	font-size: 0.9em;
}

.payment-form .products .item-description{
	font-size:0.8em;
	opacity:0.6;
}

.payment-form .products .item p{
	margin-bottom:0.2em;
}

.payment-form .products .price{
	float: right;
	font-weight: 600;
	font-size: 0.9em;
}

.payment-form .products .total{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	padding-top: 19px;
	font-weight: 600;
	line-height: 1;
}

.payment-form .personal-details{
	padding: 25px 25px 15px;
}

.payment-form .personal-details label{
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #79818a;
	text-transform: uppercase;
}

.payment-form .personal-details button{
	margin-top: 0.6em;
	padding:12px 0;
	font-weight: 600;
}

.payment-form .date-separator{
 	margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

@media (min-width: 576px) {
	.payment-form .title {
		font-size: 1.2em; 
	}

	.payment-form .products {
		padding: 40px; 
  	}

	.payment-form .products .item-name {
		font-size: 1em; 
	}

	.payment-form .products .price {
    	font-size: 1em; 
	}

  	.payment-form .personal-details {
    	padding: 40px 40px 30px; 
    }

  	.payment-form .personal-details button {
    	margin-top: 2em; 
    } 
}

div input.email{
	width: 520px;
}

.btn{
    background-color: rgb(247, 91, 117);
    border: 1px solid red;
    box-shadow: 5px 5px 15px rgb(248, 205, 212), -5px -5px 15px rgb(248, 205, 212);
    transition: all 0.3s ease 0s;
}

.btn:hover{
    background-color: rgb(249, 221, 225);
    border: 1px solid red;
    color: rgb(245, 51, 83);
    font-weight: bold;
    box-shadow: 7px 7px 15px rgb(245, 161, 175), -5px -5px 15px rgb(245, 165, 178);
}

.btn:active{
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

input:focus{
    background-color: #f679a7;
}

.col-sm-12{
	text-align: center;
}

span.backToCart{
    font-size: 28px;
    color: rgb(253, 105, 129);
    text-shadow: 2px 2px 4px rgb(244, 220, 177);
    transition: all 0.3s ease 0s;
}

span.backToCart:hover{
    font-size: 35px;
    color: rgb(255, 44, 79);
    text-decoration: none;
    text-shadow: 3px 3px 5px rgb(249, 212, 142);
}

span.back{
    color: rgb(246, 114, 136);
    margin-right: 5px;
}
