@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Ibarra+Real+Nova:wght@500&family=Poppins:wght@300&display=swap%27');

body{
    font-family: 'Ubuntu', sans-serif;
    /* background: radial-gradient(circle, rgb(254, 232, 217)30%, rgb(251, 200, 216) 73%); */
    font-family: 'Ibarra Real Nova', serif;
}

.body{
    background: radial-gradient(circle, rgb(254, 232, 217)30%, rgb(251, 200, 216) 73%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 190vh;
}

/* navbar */
header{
    box-sizing:border-box;
    z-index:999;
    top:0%;
    left: 0%;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;
    transition: 0.5s ease;
  }
  
  .navigation{
    float:right;
  }
  
  li{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  
  .fa-home,.fa-random,.fa-gift,.fa-shopping-cart{
    font-size:24px;
    color:rgba(255 80 110);
  }
  
  .actives{
    color:rgba(255 80 110);
    text-decoration: none;
  }
  
  li i.fa{
    transition: all 0.3s ease 0s;
  }
  
  div.navigation li span{
    font-family: 'Fugaz One';
    font-weight: 200px;
    font-size: 16px;
    text-shadow: 0.1em 0.1em 0 rgb(248, 191, 200);
    /* transition: all 0.3s ease 0s; */
  }
  
  div.navigation li span:hover{
    font-size: 19px;
    text-shadow: 0.1em 0.1em 0 #FF8700;
  }
  
  li .fa:hover{
    animation: wiggle 1s ease-in-out;
    color: #ff2d00;
    font-size: 19px;
    text-shadow: 0.1em 0.1em 0 #FF8700;
  }
  
  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-10deg);
    }
    20% {
      transform: rotateZ(5deg);
    }
    25% {
      transform: rotateZ(-5deg);
    }
    30% {
      transform: rotateZ(3deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  
  .logo{
    height: 95px;
    width: 101px;
  }
  /* end */

div.navigation li a.actives{
    font-family: 'Ibarra Real Nova', serif;
    font-weight: bold;
    font-size: 20px;
}

div.main-container{
    display: flex;
}

div.cards-container{
    display: flex;
    flex-direction: column;
    width: 75%;
}

h1{
    margin-left: 40px;
    color: rgb(2, 37, 65);
    text-shadow: 0.1em 0.1em 0 rgb(240 108 131);
    font-family: 'Fugaz One';
    text-align: center;
}

div.cards-container-1, div.cards-container-2{
    /* border: 1px solid red;
    height: 100vh; */
    padding: 0px 10px;
    margin: 20px 8px;
    display: flex;
    justify-content: space-around;
}

div.summary-container{
    width: 25%;
}

div.summary{
    background-color: #FE8DA7;
    max-height: 900px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 15px black;
    transition: all 0.2s ease 0s;
}

div.summary:hover{
    background-color: #FDACBF
}

.cards{
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 180px 170px 70px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: #ff5b7b;
    box-shadow: 7px 7px 15px black;
    text-align: center;
    align-items: flex-start;
    transition: 0.5s ease;
    cursor: pointer;
}

.cards .card-image{
    grid-area: image;
    height: 190px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.cards .card-image-1{
    background: url("../../image/carrot_walnut_cake.png");
    background-size: cover;
}

.cards .card-image-2{
    background: url("../../image/oreo_cream_chiffon.png");
    background-size: cover;
}

.cards .card-image-3{
    background: url("../../image/pandan_cream_chiffon.png");
    background-size: cover;
}

.cards .card-image-4{
    background: url("../../image/mango_cream_chiffon.png");
    background-size: cover;
}

.cards .card-image-5{
    background: url("../../image/strawberry_cream_chiffon.png");
    background-size: cover;
}

.cards .card-image-6{
    background: url("../../image/chocoreo_cream_chiffon.png");
    background-size: cover;
}

.card-text{
    grid-area: text;
    margin: 10px 10px;
}

.card-text span{
    font-size: 15px;
    font-style: italic;
}

.card-text h3{
    margin-top: 5px;
    /* margin-bottom: 3px; */
    font-family: 'Fugaz One';
}

.card-text p{
    /* margin-top: 3px; */
   font-size: 15px;
}

.card-stats{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: aliceblue;
    height: 70px;
}

input.input_quantity{
    width: 25px;
    height: 25px;
    border-radius: 10px;
    border: 2px solid rgb(238, 49, 49);
    padding: 0px 2px;
    font-size: 15px;
    font-weight: bold;
}

div.quantity{
    margin-top: 13px;
    margin-left: 5px;
}

div.quantity p{
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

div.quantity i{
    font-size: 18px;
    cursor: pointer;
    color: rgb(14, 135, 234);
}

div.quantity i:hover{
    color: rgb(154, 200, 237);
    transition: all 0.3s ease 0s;
}

p.total_price{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bolder;
    color: rgb(171, 4, 4);
}

p.price_p{
    margin-top: 13px;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
}

p.remove_p{
    margin-top: 13px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
}

div.remove i{
    font-size: 25px;
    color: rgb(111, 4, 4);
    margin-top: 4px;
    transition: all 0.3s ease 0s;
}

div.remove i:hover{
    color: rgb(225, 100, 100);
    cursor: pointer;
}

.card-stats .border{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.cards:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgb(50, 50, 50);
}

.summary h2{
    padding: 15px 15px;
    margin-bottom: 0;
    font-family: 'Fugaz One';
    text-shadow: 0.1em 0.1em 0 rgb(240 108 131);
}

table{
    width: 95%;
    margin: auto;
    font-size: 17px;
    font-weight: bold;
}

table td{
    padding: 9px 5px;
}

table td:nth-of-type(2){
    text-align: right;
}

table, td{
    border-collapse: collapse;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

/* dropdown menu */
.select-box{
    margin-top: 8px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.selected:hover{
    background: #414b57;
}

.select-box .options-container{
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.selected{
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    order:0;
    font-family: 'Fugaz One';
}

.selected::after{
    content: "";
    background: url("../../image/arrow-down.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 4px;
    transition: all 0.4s;
}

.select-box .options-container.active{
    max-height: 240px;
    opacity: 1;
    /* overflow-y: scroll; */
}

.select-box .options-container.active + .selected::after{
    transform: rotateX(180deg);
    top: -5px;
}

.select-box .option, .selected{
    padding: 8px 10px;
    cursor: pointer;
}

.select-box .option:hover{
    background: #414b57;
}

.select-box label{
    cursor: pointer;
}

.select-box .option .radio{
    display: none;
}
/* end */

input.input_code{
    margin-top: 8px;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 92%;
    font-family: 'Fugaz One';
}

input.input_code:hover{
    background: rgb(240, 215, 218);
}

input.input_code:focus{
    background: rgb(245, 245, 187);
    border: 1px solid rgb(255, 255, 97);
}

button.discount_button{
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 10px;
    width: 80px;
    background: rgb(249, 115, 92);
    transition: all 0.3 ease 0s;
    box-shadow: 3px 3px 8px rgb(135, 3, 3);
    font-family: 'Fugaz One';
}

button.discount_button:hover{
    background: rgb(246, 190, 170);
    cursor: pointer;
    border: 2px solid red;
    color: rgb(255, 32, 32);
    font-weight: bold;
}

tr.shipping_fee td{
    padding-top: 0;
}

button.checkout_button{
    width: 100%;
    padding: 15px 10px;
    border-radius: 7px;
    border: 0px;
    background: #ed3162;
    color: whitesmoke;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);
    font-family: 'Fugaz One';
}

button.checkout_button:hover{
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.429);
    cursor: pointer;
}

button.hidden_btn{
    display: none;
}

/* footer */
.footercontent{
    background-color:#ffc6c6;
    width:100%;
    text-align: center;
    bottom: 0;
    position: absolute;
}

.footer {
    display: inline;
}

.ig{
    display: inline;
    margin: 20px;
}